* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width:  205px;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    background: #2E80CE;
    padding: 0 20px;
    border-radius: 99px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #2E80CE;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.logo {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
}

.logo__circle::before, .logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    background: #2E80CE;
    width: 3em;
    height: 3em;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    background: #fff;
    width: 1.6em;
    height: 1.6em;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
    text-align: right;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link:hover,
.navbar__item--active .navbar__link {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
    font-weight: 400;
}

.navbar__item--active::before {
    content: "";
    position: relative;
    display: inline-block;
    top: -2px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login, .navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-action__signUp {
    --height: 44px;
    min-width: 104px;
    margin-left: 7px;
}